@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  /* Colors */
  --c-violet: hsl(257, 40%, 49%);
  --c-soft-magenta: hsl(300, 69%, 71%);
  --c-white: #fff;

  /* Font */
  --ff-heading: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

  --fs-1: 1.5rem;
  --fs-2: 1rem;

  --fw-regular: 400;
  --fw-semi-bold: 600;

  /* Sizes */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 2rem;
  --size-6: 3rem;
}

body {
  background-color: var(--c-violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: var(--ff-body);
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--size-5) 0;
}

.header__logo {
  width: 130px;
}

.main-hero {
  display: flex;
  flex-direction: column;
}

.main-hero__fig {
  margin-bottom: calc(2 * var(--size-5));
}

.main-hero__text {
  text-align: center;
  color: var(--c-white);
  margin-bottom: var(--size-5);
}

.main-hero__title {
  font-family: var(--ff-heading);
  font-size: var(--fs-1);
  font-weight: var(--fw-semi-bold);
  margin-bottom: var(--size-4);
}

.main-hero__description {
  font-family: var(--ff-body);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  margin-bottom: var(--size-5);
}

.main-hero__cta {
  text-align: center;
  background-color: var(--c-white);
  border-radius: var(--size-5);
  padding: var(--size-3) 4rem;
  max-width: 200px;
  color: var(--c-violet);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.main-hero__cta:hover {
  background-color: var(--c-soft-magenta);
  color: var(--c-white);
}

.main-hero__cta-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: var(--size-4);
}

.footer__links-link {
  border: 1px solid var(--c-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
}

.footer__links-link:hover {
  border-color: var(--c-soft-magenta);
}

.footer__links-link svg {
  color: var(--c-white);
  transition: color 0.3s ease-in-out;
}

.footer__links-link:hover svg {
  color: var(--c-soft-magenta);
}

@media (min-width: 992px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
  }

  .header__logo {
    width: 200px;
  }

  .main-hero {
    flex-direction: row;
  }

  .main-hero__fig {
    width: 50%;
    margin-bottom: 0;
  }

  .main-hero__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 var(--size-5);
  }

  .main-hero__text {
    text-align: left;
    margin-bottom: 0;
  }

  .main-hero__title {
    --fs-1: 2.625rem;
  }

  .main-hero__cta-container {
    justify-content: flex-start;
  }

  .footer__links {
    justify-content: flex-end;
  }
}
